<?xml version="1.0"?>
<launch>
    


    <node name="light_detector" pkg="puzzlebot_operation" type="color_identification.py"/>

    <node name="signal" pkg="puzzlebot_operation" type="signals.py"/>
    
    <node name="model" pkg="puzzlebot_operation" type="robotflow.py"/>

    <node name="line_detector" pkg="puzzlebot_operation" type="line_identification.py"/>

    <node name="line_following" pkg="puzzlebot_operation" type="line_following.py"/>
    
</launch>
